<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generador de Currículum</title>
    <link rel="stylesheet" href="{{ url_for('curriculums.static', filename='css/edicion.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
</head>
<body>

{% include 'menu.html' %}

<div class="buttons-bar">
    <div class="buttons-left">
        <a href="{{ url_for('curriculums.home') }}">
            <button class="back-button">Regresar</button>
        </a>
        <div class="menu">
            <button class="menu-toggle">Añadir campo </button>
            <div class="botones">
                <button type="button" class="agregarCampo" id="agregarExperiencia">Añadir trabajo</button>
                <button type="button" class="agregarCampo" id="agregarEducacion">Añadir educación</button>
                <button type="button" class="agregarCampo" id="agregarHabilidad">Añadir habilidad</button>
                <button type="button" class="agregarCampo" id="agregarIdioma">Añadir idioma</button>
                <button type="button" class="agregarCampo" id="agregarLink">Añadir link</button>
            </div>
        </div> 
    </div>
    <div class="buttons-right">
        <button class="guardar" onclick="saveToJson()">Guardar</button>
        <button id="compilar-btn" onclick="compilar()">Vista previa</button> <!--  -->
        <a href="{{ url_for('curriculums.exportar', id_curriculum=id) }}">
            <button>Exportar</button>
        </a>
        <button id="eliminar-btn" onclick="eliminarCurriculum()">Eliminar</button>
        <button id="togglePreview" onclick="togglePreview()">→</button> <!--  -->
    </div>
</div>

<div class="container">
    <div class="form-container">       
        <div class="form-panel" id="personal-info">
            <div class="form-header" onclick="toggleSection('personal-info')">
                Datos Personales
                <span class="toggle-icon">▲</span> 
            </div>
            <div class="form-body">
                <input type="text" name="nombre"" id="name" placeholder="Nombre(s)" value="{{ cv.datos_personales.nombre if cv.datos_personales else '' }}" required>
                <input type="text" name="apellidos" id="surname" placeholder="Apellidos" value="{{ cv.datos_personales.apellidos if cv.datos_personales else '' }}" required>
                <input type="text" name="ocupacion" id="ocupacion" placeholder="Ocupación" value="{{ cv.datos_personales.ocupacion if cv.datos_personales else '' }}">
                <label for="nacimiento">Fecha de nacimiento</label>
                <input type="date" name="fecha_nacimiento" class="custom-date" id="nacimiento" value="{{ cv.datos_personales.fecha_nacimiento if cv.datos_personales else '' }}">
                <input type="tel" name="telefono" id="phone" placeholder="Teléfono" value="{{ cv.datos_personales.telefono if cv.datos_personales else '' }}">
                <input type="email" name="email" id="email" placeholder="Correo electrónico" value="{{ cv.datos_personales.email if cv.datos_personales else '' }}">
            </div>
        </div>
        
        <!-- Seccion de experiencias laborales -->
        <div class="seccion" id="experienciasLaborales">
        </div>

        <!-- Seccion de educacion-->
        <div class="seccion" id="seccionEducacion">
        </div>

        <!-- Seccion de habilidades-->
        <div class="seccion" id="seccionHabilidad">
        </div>

        <!-- seccion de idiomas -->
        <div class="seccion" id="seccionIdioma">
            <!-- Aquí se insertarán las secciones de idiomas dinámicamente -->
        </div>
        
        <div class="seccion" id="seccionLinks">
        </div>
    </div>
    <div class="preview-panel" id="previewPanel">
        <!-- Aquí se muestra la vista previa del CV -->
        <!-- <iframe id="pdfFrame" src="{{ url_for('curriculums.previsualizar', id_curriculum=id) }}" frameborder="0"></iframe> -->
        <iframe id="pdfFrame" src="" frameborder="0"></iframe>
    </div>
</div>

<script>
    // cargar datos del json
    const datosCurriculum = {{ cv|tojson }};
    datosCurriculum.experiencia_laboral.forEach((experiencia, index) => {
        const nuevaExperiencia = `
            <div class="form-panel" id="job-experience-${index+1}">
                <div class="form-header" onclick="toggleSection('job-experience-${index+1}')">
                    <div class="header-buttons-left">
                        Experiencia Laboral
                        <div class="eliminar" onclick="eliminarSeccion('job-experience-${index+1}')">
                            <span>🗑</span>
                        </div>
                    </div>
                    <span class="toggle-icon">▲</span> 
                </div>
                <div class="form-body">
                    <input type="text" name="compania" id="company" placeholder="Compañía" value="${experiencia.compania}">
                    <input type="text" name="puesto" id="job-title" placeholder="Puesto" value="${experiencia.puesto}">
                    <label for="job-start-date">Fecha de inicio</label>
                    <input type="date" name="fecha_inicio" class="custom-date" id="job-start-date" value="${experiencia.fecha_inicio}">
                    <label for="job-end-date">Fecha de finalización</label>
                    <input type="date" name="fecha_fin" class="custom-date" id="job-end-date" value="${experiencia.fecha_fin}">
                    <textarea id="job-summary" name="resumen" placeholder="Tarea / Resumen">${experiencia.resumen}</textarea>
                </div>
                
            </div>
        `;
        document.getElementById('experienciasLaborales').insertAdjacentHTML('beforeend', nuevaExperiencia);
    });
    datosCurriculum.educacion.forEach((educacion, index) => {
        const nuevaEducacion = `
            <div class="form-panel" id="education-info-${index+1}">
                <div class="form-header" onclick="toggleSection('education-info-${index+1}')">
                    <div class="header-buttons-left">
                        Educación
                        <div class="eliminar" onclick="eliminarSeccion('education-info-${index+1}')">
                            <span>🗑</span>
                        </div>
                    </div>
                    <span class="toggle-icon">▲</span> 
                </div>
                <div class="form-body">
                    <input type="text" name="institucion" id="institution" placeholder="Institución" value="${educacion.institucion}">
                    <input type="text" name="grado" id="degree" placeholder="Carrera" value="${educacion.grado}">
                    <label for="educacion-start-date">Fecha de inicio</label>
                    <input type="date" name="fecha_inicio" class="custom-date" id="education-start-date" value="${educacion.fecha_inicio}">
                    <label for="educacion-end-date">Fecha de finalización</label>
                    <input type="date" name="fecha_fin" class="custom-date" id="education-end-date" value="${educacion.fecha_fin}">
                    <textarea name="resumen" id="education-description" placeholder="Descripción">${educacion.resumen}</textarea>
                </div>
            </div>
        `;
        document.getElementById('seccionEducacion').insertAdjacentHTML('beforeend', nuevaEducacion);
    });
    datosCurriculum.habilidades.forEach((habilidad, index) => {
        const nuevaHabilidad = `
            <div class="form-panel" id="habilidad-info-${index+1}">
                <div class="form-header" onclick="toggleSection('habilidad-info-${index+1}')">
                    <div class="header-buttons-left">
                        Habilidades
                        <div class="eliminar" onclick="eliminarSeccion('habilidad-info-${index+1}')">
                            <span>🗑</span>
                        </div>
                    </div>
                    <span class="toggle-icon">▲</span> 
                </div>
                <div class="form-body">
                    <input type="text" name="nombre" id="skill" placeholder="Habilidad" value="${habilidad.nombre}">
                    <input type="text" name="resumen" id="skill-description" placeholder="Descripción" value="${habilidad.resumen}">
                </div>
                
            </div>
        `;
        document.getElementById('seccionHabilidad').insertAdjacentHTML('beforeend', nuevaHabilidad);
    });
    datosCurriculum.lenguajes.forEach((idioma, index) => {
    const nuevoIdioma = `
        <div class="form-panel" id="idioma-info-${index+1}">
            <div class="form-header" onclick="toggleSection('idioma-info-${index+1}')">
                <div class="header-buttons-left">
                    Idioma
                    <div class="eliminar" onclick="eliminarSeccion('idioma-info-${index+1}')">
                        <span>🗑</span> <!-- Span para eliminar -->
                    </div>
                </div>
                <span class="toggle-icon">▲</span> <!-- Span de la flecha -->
            </div>

            <div class="form-body">
                <input type="text" name="idioma" id="language" placeholder="Idioma" value="${idioma.idioma}">
                <input type="text" name="nivel" id="language-level" placeholder="Nivel" value="${idioma.nivel}">
            </div>
        </div>
    `;
        // Añadir la nueva sección al contenedor de secciones de idiomas
        document.getElementById('seccionIdioma').insertAdjacentHTML('beforeend', nuevoIdioma);
    });
    datosCurriculum.links.forEach((link, index) => {
        const nuevoLink = `
            <div class="form-panel" id="link-info-${index+1}">
                <div class="form-header" onclick="toggleSection('link-info-${index+1}')">
                    <div class="header-buttons-left">
                        Link
                        <div class="eliminar" onclick="eliminarSeccion('link-info-${index+1}')">
                            <span>🗑</span> <!-- Span para eliminar -->
                        </div>
                    </div>
                    <span class="toggle-icon">▲</span> <!-- Span de la flecha -->
                </div>

                <div class="form-body">
                    <input type="text" name="link-nombre" id="link-nombre-${index+1}" placeholder="Nombre" value="${link.nombre}">
                    <input type="text" name="link" id="link-${index+1}" placeholder="Link" value="${link.link}">
                </div>
            </div>
        `;
        // Añadir la nueva sección al contenedor de secciones de links
        document.getElementById('seccionLinks').insertAdjacentHTML('beforeend', nuevoLink);
    });


    // crear nuevos campo de secciones
    let contadorExperiencia = 1;
    document.getElementById('agregarExperiencia').addEventListener('click', function() {
        contadorExperiencia++;
        const nuevaExperiencia = `
            <div class="form-panel" id="job-experience-${contadorExperiencia}">
                <div class="form-header" onclick="toggleSection('job-experience-${contadorExperiencia}')">
                    <div class="header-buttons-left">
                        Experiencia Laboral
                        <div class="eliminar" onclick="eliminarSeccion('job-experience-${contadorExperiencia}')">
                            <span>🗑</span>
                        </div>
                    </div>
                    <span class="toggle-icon">▲</span> 
                </div>
                <div class="form-body">
                    <input type="text" name="compania" id="company" placeholder="Compañía" value="">
                    <input type="text" name="puesto" id="job-title" placeholder="Puesto" value="">
                    <label for="job-start-date">Fecha de inicio</label>
                    <input type="date" name="fecha_inicio" class="custom-date" id="job-start-date" value="">
                    <label for="job-end-date">Fecha de finalización</label>
                    <input type="date" name="fecha_fin" class="custom-date" id="job-end-date" value="">
                    <textarea id="job-summary" name="resumen" placeholder="Tarea / Resumen"></textarea>
                </div>
                
            </div>
        `;
        document.getElementById('experienciasLaborales').insertAdjacentHTML('beforeend', nuevaExperiencia);
    });
    let contadorEducacion = 1;
    document.getElementById('agregarEducacion').addEventListener('click', function() {
        contadorEducacion++;
        const nuevaEducacion = `
            <div class="form-panel" id="education-info-${contadorEducacion}">
                <div class="form-header" onclick="toggleSection('education-info-${contadorEducacion}')">
                    <div class="header-buttons-left">
                        Educación
                        <div class="eliminar" onclick="eliminarSeccion('education-info-${contadorEducacion}')">
                            <span>🗑</span>
                        </div>
                    </div>
                    <span class="toggle-icon">▲</span> <!-- Span de la flecha -->
                </div>
                <div class="form-body">
                    <input type="text" name="institucion" id="institution" placeholder="Institución" value="">
                    <input type="text" name="grado" id="degree" placeholder="Carrera" value="">
                    <label for="educacion-start-date">Fecha de inicio</label>
                    <input type="date" name="fecha_inicio" class="custom-date" id="education-start-date" value="">
                    <label for="educacion-end-date">Fecha de finalización</label>
                    <input type="date" name="fecha_fin" class="custom-date" id="education-end-date" value="">
                    <textarea name="resumen" id="education- description" placeholder="Descripción"></textarea>
                </div>
                
            </div>
        `;
        document.getElementById('seccionEducacion').insertAdjacentHTML('beforeend', nuevaEducacion);
    });
    let contadorHabilidad = 1;
    document.getElementById('agregarHabilidad').addEventListener('click', function() {
        contadorHabilidad++;
        const nuevaHabilidad = `
            <div class="form-panel" id="habilidad-info-${contadorHabilidad}">
                <div class="form-header" onclick="toggleSection('habilidad-info-${contadorHabilidad}')">
                    <div class="header-buttons-left">
                        Habilidades
                        <div class="eliminar" onclick="eliminarSeccion('habilidad-info-${contadorHabilidad}')">
                            <span>🗑</span> <!-- Este span no se debe cambiar -->
                        </div>
                    </div>
                    <span class="toggle-icon">▲</span> <!-- Span de la flecha -->
                </div>
                
                <div class="form-body">
                    <input type="text" name="nombre" id="skill" placeholder="Habilidad" value="">
                    <input type="text" name="resumen" id="skill-description" placeholder="Descripción" value="">
                    
                </div>
                
            </div>
        `;
        document.getElementById('seccionHabilidad').insertAdjacentHTML('beforeend', nuevaHabilidad);
    });

    let contadorIdioma = 1; // Inicializamos el contador para las secciones de idioma

    // Agregar nuevo idioma cuando se hace clic en el botón
    document.getElementById('agregarIdioma').addEventListener('click', function() {
        contadorIdioma++;
        
        // Nueva sección de idioma
        const nuevoIdioma = `
            <div class="form-panel" id="idioma-info-${contadorIdioma}">
                <div class="form-header" onclick="toggleSection('idioma-info-${contadorIdioma}')">
                    <div class="header-buttons-left">
                        Idioma
                        <div class="eliminar" onclick="eliminarSeccion('idioma-info-${contadorIdioma}')">
                            <span>🗑</span> <!-- Span para eliminar -->
                        </div>
                    </div>
                    <span class="toggle-icon">▲</span> <!-- Span de la flecha -->
                </div>

                <div class="form-body">
                    <input type="text" name="idioma" id="language" placeholder="Idioma" value="">
                    <input type="text" name="nivel" id="language-level" placeholder="Nivel" value="">
                </div>
            </div>
        `;
        // Añadir la nueva sección al contenedor de secciones de idiomas
        document.getElementById('seccionIdioma').insertAdjacentHTML('beforeend', nuevoIdioma);
    });
    let contadorLinks = 1; // Inicializamos el contador para las secciones de links
    // Agregar nuevo link cuando se hace clic en el botón
    document.getElementById('agregarLink').addEventListener('click', function() {
        contadorLinks++;

        // Nueva sección de link
        const nuevoLink = `
            <div class="form-panel" id="link-info-${contadorLinks}">
                <div class="form-header" onclick="toggleSection('link-info-${contadorLinks}')">
                    <div class="header-buttons-left">
                        Link
                        <div class="eliminar" onclick="eliminarSeccion('link-info-${contadorLinks}')">
                            <span>🗑</span> <!-- Span para eliminar -->
                        </div>
                    </div>
                    <span class="toggle-icon">▲</span> <!-- Span de la flecha -->
                </div>

                <div class="form-body">
                    <input type="text" name="link-nombre" id="link-nombre-${contadorLinks}" placeholder="Nombre" value="">
                    <input type="text" name="link" id="link-${contadorLinks}" placeholder="Link" value="">
                </div>
            </div>
        `;
        // Añadir la nueva sección al contenedor de secciones de links
        document.getElementById('seccionLinks').insertAdjacentHTML('beforeend', nuevoLink);
    });


    function eliminarSeccion(sectionId) {
        const section = document.getElementById(sectionId);
        if (section) {
            section.remove()
        }
    }

    function toggleSection(sectionId) {
        const section = document.getElementById(sectionId);
        const formBody = section.querySelector('.form-body');
        const icon = section.querySelector('.toggle-icon'); // Seleccionar el span con clase 'toggle-icon'

        // Alternar la clase 'minimized'
        if (section.classList.contains('minimized')) {
            section.classList.remove('minimized');
            formBody.style.display = 'block'; // Mostrar el contenido del formulario
            icon.textContent = '▲'; // Cambiar el icono a la flecha hacia arriba
        } else {
            section.classList.add('minimized');
            formBody.style.display = 'none'; // Ocultar el contenido del formulario
            icon.textContent = '▼'; // Cambiar el icono a la flecha hacia abajo
        }
    }

    function togglePreview() {
        const toggleButton = document.getElementById('togglePreview');
        const previewPanel = document.getElementById('previewPanel');

        // Alternar la clase 'minimized'
        if(previewPanel.style.display === 'none'){
            previewPanel.style.display = 'block'; // Mostrar el panel
            toggleButton.textContent = '→'; // Cambiar el texto del botón
        } else {
            previewPanel.style.display = 'none'; // Ocultar el panel
            toggleButton.textContent = '←'; // Cambiar el texto del botón
        }
    }

    function saveToJson() {
        const datosPersonales = {}
        document.querySelectorAll('#personal-info input').forEach(input => {
            datosPersonales[input.name] = input.value;
        });
        const experienciasLaborales = [];
        document.querySelectorAll('#experienciasLaborales .form-panel').forEach(experiencia => {
            const campos = {};
            experiencia.querySelectorAll('input, textarea').forEach(input => {
                campos[input.name] = input.value;
            });
            experienciasLaborales.push(campos);
        });
        const seccionEducacion = [];
        document.querySelectorAll('#seccionEducacion .form-panel').forEach(educacion => {
            const campos = {};
            educacion.querySelectorAll('input, textarea').forEach(input => {
                campos[input.name] = input.value;
            });
            seccionEducacion.push(campos);
        });
        const seccionHabilidad = [];
        document.querySelectorAll('#seccionHabilidad .form-panel').forEach(habilidad => {
            const campos = {};
            habilidad.querySelectorAll('input, textarea').forEach(input => {
                campos[input.name] = input.value;
            });
            seccionHabilidad.push(campos);
        });
        // Recolectar lenguajes
        const seccionIdioma = [];
        document.querySelectorAll('#seccionIdioma .form-panel').forEach(lenguaje => {
            const campos = {
                idioma: lenguaje.querySelector('input[name="idioma"]').value,
                nivel: lenguaje.querySelector('input[name="nivel"]').value
            };
            seccionIdioma.push(campos);
        });
        // Recolectar links
        const seccionLinks = [];
        document.querySelectorAll('#seccionLinks .form-panel').forEach(link => {
            const campos = {
                nombre: link.querySelector('input[name="link-nombre"]').value,
                link: link.querySelector('input[name="link"]').value
            };
            seccionLinks.push(campos);
        });
        // Recoger datos de los formularios
        const data = {
            datos_personales: datosPersonales,
            links: seccionLinks,
            lenguajes: seccionIdioma,
            habilidades: seccionHabilidad,
            experiencia_laboral: experienciasLaborales,
            educacion: seccionEducacion
        };
        // Convertir a JSON
        const jsonData = JSON.stringify(data);

        fetch("{{ url_for('curriculums.editar', id_curriculum=id)  }}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: jsonData
        })
        .then(response => response.json())
        .then(data => {
            if (data.status == "success") {
                alert(data.message);
            } else {
                alert(data.message);
            }
        })
        .catch(error => {
            console.error('Error', error);
        });
    }

    function compilar() {
        const url = "{{ url_for('curriculums.previsualizar', id_curriculum=id) }}";
        // Actualizar el src del iframe con la nueva URL
        document.getElementById('pdfFrame').src = url;
    }

    function eliminarCurriculum() {
        if (confirm("¿Estás seguro de que deseas eliminar este currículum? Esta acción no se puede deshacer.")) {
            // Enviar la solicitud de eliminación al servidor
            // fetch('/curriculums/eliminar/{{ id }}', {
            fetch("{{ url_for('curriculums.eliminar', id_curriculum=id) }}", {
                method: 'POST',
            })
            .then(response => response.json())
            .then(data => {
                if (data.status == "success") {
                    alert(data.message);
                    window.location.href = "{{ url_for('curriculums.home') }}"; // Redirigir después de eliminar
                } else {
                    alert("Error al eliminar: " + data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Ocurrió un error al intentar eliminar el currículum.');
            });
        }
    }

    document.querySelector('.menu-toggle').addEventListener('click', function() {
        const botones = document.querySelector('.botones');
        botones.classList.toggle('active'); // Alternar la clase "active" para mostrar/ocultar
    });

    // Cerrar el menú al hacer clic fuera de él
    window.addEventListener('click', function(event) {
        if (!event.target.matches('.menu-toggle') && !event.target.closest('.botones')) {
            const botones = document.querySelector('.botones');
            if (botones.classList.contains('active')) {
                botones.classList.remove('active');
            }
        }
    });

</script>

</body>
</html>