<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generador de Currículum</title>
    <link rel="stylesheet" href="{{ url_for('curriculums.static', filename='css/edicion.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
</head>
<body>

{% include 'menu.html' %}

<div class="buttons-bar">
    <div class="buttons-left">
        <button class="back-button">Regresar</button>
    </div>
    <div class="buttons-right">
        <button onclick="Vista()">Vista Previa</button> <!--  -->
        <a href="{{ url_for('curriculums.exportar', id_curriculum=id) }}">
            <button>Exportar</button>
        </a>
        <button>Eliminar</button>
        <button onclick="saveToJson()">Guardar</button>
    </div>
</div>

<div class="container">
    <div class="form-container">
        <div class="form-panel" id="personal-info">
            <div class="form-header" onclick="toggleSection('personal-info')">
                Datos Personales
                <span>▼</span>
            </div>
            <div class="form-body">
                <input type="text" id="name" placeholder="Nombre(s)">
                <input type="text" id="surname" placeholder="Apellidos">
                <input type="text" id="ocupacion" placeholder="Ocupación">
                <h2>fecha de nacimiento<h2></h2>
                <input type="date" id="nacimiento">
                <input type="text" id="phone" placeholder="Teléfono">
                <input type="email" id="email" placeholder="Correo electrónico">
            </div>
        </div>

        <div class="form-panel" id="job-experience">
            <div class="form-header" onclick="toggleSection('job-experience')">
                Experiencia Laboral
                <span>▼</span>
            </div>
            <div class="form-body">
                <input type="text" id="job-title" placeholder="Puesto">
                <input type="text" id="company" placeholder="Compañía">
                <h2>fecha de inicio<h2></h2>
                <input type="date" id="job-start-date">
                <h2>fecha de finalización<h2></h2>
                <input type="date" id="job-end-date">
                <textarea id="job-summary" placeholder="Tarea / Resumen" rows="4"></textarea>
            </div>
        </div>
        <div class="form-panel" id="education-info">
            <div class="form-header" onclick="toggleSection('education-info')">
                Educación
                <span>▼</span>
            </div>
            <div class="form-body">
                <input type="text" id="institution" placeholder="Institucion">
                <input type="text" id="degree" placeholder="Grado">
                <h2>fecha de inicio<h2>
                <input type="date" id="education-start-date">
                <h2>fecha de finalización<h2></h2>
                <input type="date" id="education-end-date">
                <textarea id="education-description" placeholder="descripción" rows="4"></textarea>
            </div>
        </div>
        <div class="form-panel" id="habilidad-info">
            <div class="form-header" onclick="toggleSection('habilidad-info')">
                Habilidad
                <span>▼</span>
            </div>
            <div class="form-body">
                <input type="text" id="skill" placeholder="Habilidad">
                <input type="text" id="skill-description" placeholder="Descripción">
            </div>
        </div>
        <div class="form-panel" id="lenguaje-info">
            <div class="form-header" onclick="toggleSection('lenguaje-info')">
                Lenguaje
                <span>▼</span>
            </div>
            <div class="form-body">
                <input type="text" id="language" placeholder="Lenguaje">
                <input type="text" id="language-level" placeholder="Nivel">
                <input type="text" id="language-description" placeholder="Descripción">
            </div>
        </div>
    </div>

    <div class="preview-panel">
        <h2>Vista Previa id: {{ id }}</h2>
        <!-- Aquí se muestra la vista previa del CV -->
    </div>
</div>

<script>
    function toggleSection(sectionId) {
        const section = document.getElementById(sectionId);
        const formBody = section.querySelector('.form-body');
        const icon = section.querySelector('span');

        // Alternar la clase 'minimized'
        if (section.classList.contains('minimized')) {
            section.classList.remove('minimized');
            formBody.style.display = 'block'; // Mostrar el contenido del formulario
            icon.textContent = '▲'; // Cambiar el icono a la flecha hacia abajo
        } else {
            section.classList.add('minimized');
            formBody.style.display = 'none'; // Ocultar el contenido del formulario
            icon.textContent = '▼'; // Cambiar el icono a la flecha hacia arriba
        }
    }
    function saveToJson() {
        // Recoger datos de los formularios
        const data = {
            datos_personales: {
                nombre: document.getElementById('name').value,
                apellidos: document.getElementById('surname').value,
                fecha_nacimiento: document.getElementById('nacimiento').value,
                telefono: document.getElementById('phone').value,
                ocupacion: document.getElementById('ocupacion').value,
                email: document.getElementById('email').value
            },
            links: [
                {
                    nombre: null,
                    link: null
                }
            ],
            lenguajes: [
                {
                    idioma: document.getElementById('language').value,
                    nivel: document.getElementById('language-level').value
                }
                
            ],
            habilidades: [
                {
                    nombre: document.getElementById('skill').value,
                    subhabilidades: [
                        document.getElementById('skill-description').value
                    ]
                }
            ],
            experiencia_laboral: [
                {
                    compania: document.getElementById('company').value,
                    puesto: document.getElementById('job-title').value,
                    fecha_inicio: document.getElementById('job-start-date').value,
                    fecha_fin: document.getElementById('job-end-date').value,
                    resumen: document.getElementById('job-summary').value
                }
            ],
            educacion: [
                {
                    institucion: document.getElementById('institution').value,
                    grado: document.getElementById('degree').value,
                    fecha_inicio: document.getElementById('education-start-date').value,
                    fecha_fin: document.getElementById('education-end-date').value,
                    resumen: document.getElementById('education-description').value
                }
            ]  
        };
        // Convertir a JSON
        const jsonData = JSON.stringify(data);

        fetch('/curriculums/editar/{{ id }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: jsonData
        })
        .then(response => response.json())
        .then(data => {
            if (data.status == "success") {
                alert(data.message);
            } else {
                alert(data.message);
            }
        })
        .catch(error => {
            console.error('Error', error);
        });
    }
</script>

</body>
</html>