body {
    font-family: Arial, sans-serif;
    background-color: transparent;
    color: #ddd;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden; /* Evitar overflow del body */
}

.menu {
    position: relative; /* Para posicionar el menú desplegable */
    display: inline-block; /* Mantener el menú en línea */
}

.menu-toggle {
    background-color: transparent; /* Color de fondo del botón de menú */
    color: rgb(236, 24, 24); /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 15px; /* Espaciado interno del botón */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
}

.botones {
    display: none; /* Ocultar el menú por defecto */
    position: absolute; /* Posicionar el menú respecto al botón */
    background-color: var(--color-gris); /* Color de fondo del menú */
    border: 1px solid var(--color-secundario); /* Borde del menú */
    border-radius: 5px; /* Bordes redondeados */
    z-index: 1; /* Asegurarse de que el menú esté encima */
    margin-top: 5px; /* Espacio entre el botón y el menú */
    padding: 10px; /* Espaciado interno del menú */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Sombra para el menú */
}

.botones.active {
    display: block; /* Mostrar el menú cuando tenga la clase "active" */
}

.agregarCampo {
    background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 15px; /* Espaciado interno del botón */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    margin: 5px 0; /* Espacio entre los botones */
    width: 100%; /* Hacer que los botones ocupen el ancho completo */
}

.agregarCampo:hover {
    background-color: #0056b3; /* Color de fondo al pasar el ratón */
}

.buttons-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    margin-bottom: 0px;
    flex-shrink: 0;
}

.buttons-left, .buttons-right {
    display: flex;
    gap: 20px;
}
.buttons-bar button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: var(--color-primario);
    cursor: pointer;
    font-size: var(--size-button);
}

.buttons-bar button:hover {
    transition: all 0.5s ease; /* Añade una transición suave para la transformación */
    transform: scale(1.1); /* Agranda el botón un 10% */
    background-color: var(--color-primario);
    border-color: var(--color-primario);
    color: var(--color-secundario);
}

.container {
    display: flex;
    height: calc(100vh - 70px); /* Restar la altura de la barra de botones */
    padding: 20px;
    padding-top: 0px;
    flex-grow: 1;
    overflow: hidden; /* Evitar overflow en el contenedor principal */
}

.form-container {
    display: flex;
    flex-direction: column;
    flex-basis: 100%; /* ancho de formulario*/
    margin-right: 0px;
    gap: 10px;
    overflow-y: auto;
    scrollbar-color: var(--color-gris3) transparent;
    scrollbar-gutter: stable;/* dejar espacio para el scroll*/
    background-color: transparent;
    border-radius: 5px;
    padding: 0px;
}
.container .form-container .agregarCampo {
    width: fit-content;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-gris);
    color: var(--color-primario);
    cursor: pointer;
    font-size: var(--size-p);
}
.container .form-container .agregarCampo:hover {
    transition: all 0.5s ease; /* Añade una transición suave para la transformación */
    background-color: var(--color-primario);
    border-color: var(--color-primario);
    color: var(--color-secundario);

}
.form-panel {
    background-color: var(--color-gris);
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
    flex-shrink: 0;
}
.form-header { /* titulo de cada panel */
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: var(--size-encabezado2);
    font-weight: normal;
    color: var(--color-primario);
}
/* .form-container .seccion .eliminar { */
.form-container .seccion .form-panel .form-header .header-buttons-left {
    display: flex;
    align-items: center;
}
.form-container .seccion .form-panel .form-header .header-buttons-left .eliminar {
    color: var(--color-primario);
    cursor: pointer;
    padding: 0px 10px;
    margin-left: 10px;
    font-size: 1.1em;
    border-radius: 5px;
}
.form-container .seccion .form-panel .form-header .header-buttons-left .eliminar:hover {
    transition: all 0.5s ease; /* Añade una transición suave para la transformación */
    background-color: crimson;
}
.form-body {
    margin-top: 20px;
}

.form-body input, .form-body textarea {
    font-size: var(--size-p);
    background-color: transparent;
    outline: none;
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 10px;
    border: 2px solid transparent;
    color: var(--color-primerio);
    resize: vertical; /* Permitir solo el redimensionamiento vertical */
}
.form-body textarea {
    font-size: 1.2em;
}
.form-body label {
    font-size: var(--size-p);
    color: var(--color-primario);

}
.form-body input:hover, .form-body textarea:hover {
    transition: all 0.5s ease; /* Añade una transición suave para la transformación */
    border-bottom: 2px solid var(--color-gris3);
}
.form-body input:focus, .form-body textarea:focus {
    transition: all 0.5s ease; /* Añade una transición suave para la transformación */
    border-bottom: 2px solid var(--color-primario);
}

.form-body .custom-date {
    font-size: 1.2em;
    color: #ddd;
}
::-webkit-calendar-picker-indicator {
    filter: invert(1);
    font-size: 1.3em;
}
.preview-panel {
    min-width: 70%;
    background-color: var(--color-gris);
    padding: 0px;
    flex-grow: 1;
    display: block;
    border-radius: 5px;
    height: calc(100vh-70px);
    /* height: calc(100vh - 70px); Restar la altura de la barra de botones */
    overflow: hidden; /* Ocultar scrollbar */
}
.preview-panel iframe {
    width: 100%;
    height: 100%;
}

.minimized {
    transition: all 0.5s ease; /* Añade una transición suave para la transformación */
    padding: 15px; /* este padding debe ser igual al del panel*/
}

.back-button {
    background-color: #d9534f;
    color: #fff;
}

.back-button:hover {
    background-color: #c9302c;
}